<section class="d-none row us-row" id="about-us-page">
    <div class="container us-body card-height">
        <div class="row">
            <div class="col">
                <div class="card15 text-white mb-3 us-card" style="max-width: 20rem;">
                    <div class="card-header-us">Ryan Jepson</div>
                    <img class="profile" src="./assets/images/ryan.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-profile">I love to play video games, I am into cars, driving and
                            modifying my Toyota 86.
                            I love to program and hang out with friends whenever I get the chance.
                            I am told I'm very funny and I am very intelligent. I am looking forward to a career in
                            computer programming and
                            hope to create my own games in the future.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card15 text-white mb-3 us-card2" style="max-width: 20rem;">
                    <div class="card-header-us">Matthew Mcdonald</div>
                    <img class="profile" src="./assets/images/matt.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text text-profile">I’m married and have a 9 month old daughter. I enjoy the
                            outdoors hunting,
                            fishing and camping. My favorite outdoors activity is Snowboarding.
                            My wife and I want to move out of Utah and so when I finish this boot camp I plan on
                            applying
                            to jobs in several different states and see where life takes us. </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card15 text-white mb-3 us-card3" style="max-width: 20rem;">
                    <div class="card-header-us">Antonio Sanchez</div>
                    <img class="profile" src="./assets/images/antonio.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-profile">
                            I have a beatiful wife and four incredible children.
                            I love to play chess, and not to brag but I am almost pass a 2000 rating!
                            Playing video games is a must in my scarce
                            free time. Essentially, I love building and not only web content, I also own a
                            construction bussiness and I have a passion for building smart, modern
                            and beautiful homes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card15 text-white mb-3 us-card4" style="max-width: 20rem;">
                    <div class="card-header-us">Gilberto Medina</div>
                    <img class="profile" src="./assets/images/gilberto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-profile">I love to play video games, I enjoy spending time doing
                            digital drawings and I’m in to tattoos and always looking for new art to put on my body. I’m
                            currently trying to get a better living for me and my family working multiple hours and
                            looking forward to finishing the boot camp so I can get a stable job and keep moving forward
                            to my goal. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script src="/public/assets/js/script.js"></script>