<section class="d-none" id="climate-change-page">
    <div id="climate-change-background">

        <div class="container" id="climate-change-space">
            <!--Climate Change Subsection-->
            <div class="row justify-content-around align-items-center" id="climate-page-divs">
                <div class="embed-responsive embed-responsive-16by9 col-12 col-xl-3">
                    <iframe id="global-warming-video" class="embed-responsive-item"
                        src="https://www.youtube.com/embed/wbR-5mHI6bo" width="450px" height="300px"
                        allowfullscreen></iframe>
                </div>
                <div class="col-12 col-xl-6" id="video-space-left">
                    <p id="climate-change-text">The earth's temperature has been increasing yearly, especially in the
                        last 100 years. This is due to many changing factors that our world has experienced in that
                        time. Technology has been improving at a rapid rate the last Century with that causing vast
                        amounts of <a
                            href="https://www.climate.gov/news-features/understanding-climate/climate-change-global-temperature"
                            title="Learn more"> carbon emissions.</a></p>
                </div>
            </div>
            <!-- Carbon Footprints subsection-->
            <div class="row justify-content-center align-items-center" id="climate-page-divs">
                <div class="col-12 col-xl-7">
                    <p id="climate-change-text">Carbon footprints are the amount of carbon dioxide and other carbon
                        compounds emitted due to the consumption of fossil fuels by a particular person, group, etc.
                        There are many online resources to track your personal carbon footprint, literally just a <a
                            href="https://www.google.com/search?q=carbon+footprint+personal+calculator&safe=active&rlz=1C1CHBF_enUS746US746&ei=kUjCYOnPG5uttQbjzaqgBw&oq=carbon+footprint+personal+calculator&gs_lcp=Cgdnd3Mtd2l6EAEYADICCAAyBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjoHCAAQRxCwAzoHCAAQsAMQQzoFCAAQsQM6BAgAEEM6BggAEAcQHjoICAAQCBAHEB5QxqIDWIG4A2CwzQNoAnACeACAAVuIAcsGkgECMTGYAQCgAQGqAQdnd3Mtd2l6yAEKwAEB&sclient=gws-wiz">
                            google search away!</a> It's important to understand our Carbon Footprints so we have the
                        ability to improve and use Cleaner Energy.</p>
                </div>
                <div class="col-12 col-xl-3">
                    <img src="./assets/images/Carbon Footprint.jpg" class="rounded border-primary" width="350"
                        height="350" alt="A grass footprint" id="carbon-footprint-picture">
                </div>
            </div>
            <!--Clean Energy Subsection-->
            <div class="row justify-content-around align-items-center" id="climate-page-divs">
                <div class="col-12 col-xl-3">
                    <img src="./assets/images/Clean Energy.jpg" class="rounded" width="300" height="300"
                        alt="Windmills turning in a green feild" id="wind-mill-pic">
                </div>
                <div class="col-12 col-xl-7">
                    <p id="climate-change-text">There are many forms of clean energy. Through understanding our carbon
                        footprints we can find areas that we can improve on as individuals and as groups. If you would
                        like to learn more about clean energy, <a href="https://www.energy.gov/"
                            title="Learn more">Energy.gov</a> has some amazing learning resources.</p>
                </div>
            </div>
        </div>
    </div>
</section>