<section class="d-none row global-background" id="global-carbon-emissions-page">
    <div class="container-fluid">
        <div class="container">
            <div class="row bar py-2 mt-2">
                <div class="col py-auto text-center">
                    <p class="py-auto">Current amount of <span class="global-span">CO2</span> released into the
                        atmosphere since the beginning of <span class="global-span">2021:</span></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC bg-dark">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Aviation Emissions:</h2>
                        <h3 id="current-aviation"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC bg-dark">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Vehicle Emissions:</h2>
                        <h3 id="current-vehicle"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC bg-dark">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Shipping Emissions:</h2>
                        <h3  id="current-shipping"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC bg-dark">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Energy Emissions:</h2>
                        <h3 id="current-energy"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 col-lg-5 mx-auto">
                <div class="mx-2 my-2 py-2 CEC global bg-dark">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Global Emissions:</h2>
                        <h3 id="current-global"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <button class="modal-button2 mx-auto mx-md-5 bg-dark" id="open2">Learn More:</button>
                <div class="modal-container2" id="modal-container2">
                    <div class="modal2">
                        <h1>Carbon Emissions Analogy</h1>
                        <p>Imagine lifting an entire mountain into the sky. Now, pulverize the mountain and turn it into
                            dust. Take that dust and spread it over the entire planet over the next 6 years. Next,
                            convert all that dust into carbon dioxide.
                            This represents how much <span class="main-color">CO2</span> we are emitting into the
                            atmosphere.
                            <button class="modal-button2" id="close2">Go back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>