<header class="title-background row" id="header">
    <div class="container title">
        <div class="row align-items-center">
        <div class="col text-center"><h1 id="title">
            Welcome to Carbon Watchers!
        </h1></div>
    </div>
    </div>
    <!-- NavBar -->
    <nav class="navbar">
    <form class="container-fluid justify-content-center align-items-center pt-1 pb-1">
        <button class="btn btn-outline-light me-3 mb-2" type="button" id="travel-estimates">Travel Estimates</button>
        <button class="btn btn-outline-light me-3 mb-2" type="button" id="shipping">Shipping</button>
        <button class="btn btn-outline-light me-3 mb-2" type="button" id="global-carbon-emissions">Global Carbon Emissions</button>
    <!--<button class="btn btn-outline-light me-3 mb-2" type="button" id="climate-change">Climate Change</button> -->
        <button class="btn btn-outline-light me-3 mb-2" type="button" id="login">Login</button>   
        <button class="btn btn-outline-light me-3 mb-2" type="button" id="signup">Signup</button> 
        <button class="btn btn-outline-light me-3 mb-2" type="button" id="logout">Logout</button>
    </form>
    </nav>

   {{>login}}
   {{>signup}}

 
</header>

