

 <div class="container d-none" id="login-form">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4 mb-4">
                    <form action="" method="" class="row g-3">
                        <h4>Welcome Back</h4>
                        <div class="col-12">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="email-login" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="password-login" placeholder="Password">
                        </div>
                        
                        <div class="col-12">
                            <button type="button" class="btn btn-dark float-end" id="submit-login">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>








{{!-- <script src="./assets/js/login.js"></script> --}}
