

 <div class="container d-none" id="login-form">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="login-form bg-light mt-4 p-4">
                    <form action="" method="" class="row g-3">
                        <h4>Welcome Back</h4>
                        <div class="col-12">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="email-login" placeholder="Email">
                        </div>
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="password-login" placeholder="Password">
                        </div>
                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-dark float-end" id="submit-login">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>





{{!-- 
<div class="modal d-none" id="login-form" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content" id="logincontent">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
<h1 class="display-6 mt-3">Exsisting Users Login Here</h1>
    <div class="mb-3 mt-3">
        <input type="email" class="form-control" id="email-login" placeholder="Email Address">
    </div>
    <div class="mb-3 mt-3">
        <input type="password" class="form-control" id="password-login" placeholder="Password">
    </div>
    

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="closelogin" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="submit-login">Login</button>
      </div>
    </div>
  </div>
</div> --}}


<script src="./assets/js/login.js"></script>
