
 <div class="container d-none" id="signup-form">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="bg-light mt-4 p-4 mb-4">
                    <form action="" method="" class="row g-3">
                        <h4>New Users Signup Here!</h4>
                        <div class="col-12">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="email-signup" placeholder="Email">
                        </div>
                            <label>Username</label>
                            <input type="text" name="username" class="form-control" id="username-signup" placeholder="Username">
                        <div class="col-12">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" id="password-signup" placeholder="Password">
                        </div>
                        
                        <div class="col-12">
                            <button type="button" class="btn btn-dark float-end" id="submit-signup">Signup!</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<script src=""></script>