<section class="hero " id="travel-estimates">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="row mt-5 mx-auto">
                    <div class="col-4 p-0 color">
                        <img src="https://source.unsplash.com/A5rCN8626Ck/640x452" width="100%" />
                    </div>
                    <div class="col-8 py-4">
                        <h3>Travel Estimates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eos natus et dolor
                            delectus officia aliquam reprehenderit facilis maiores sed. Sint explicabo ea quos
                            tenetur deleniti laboriosam molestiae porro architecto.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping -->
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="row mt-5 mx-auto">
                        <div class="col-4 p-0 color">
                            <img src="https://cdn.pixabay.com/photo/2020/03/27/19/27/airplane-4974678_1280.jpg"
                                width="100%" />
                        </div>
                        <div class="col-8 py-4">
                            <h3>Shipping</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eos natus et dolor
                                delectus officia aliquam reprehenderit facilis maiores sed. Sint explicabo ea quos
                                tenetur deleniti laboriosam molestiae porro architecto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Global Carbon Emitions -->
        <div class="container-fluid test">
            <div class="row">
                <div class="col">
                    <div class="row mt-5 mx-auto">
                        <div class="col-4 p-0 color">
                            <img src="https://source.unsplash.com/UwBrS-qRMHo/640x427" width="100%" />
                        </div>
                        <div class="col-8 py-4">
                            <h3>Global Carbon Emissions</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eos natus et dolor
                                delectus officia aliquam reprehenderit facilis maiores sed. Sint explicabo ea quos
                                tenetur deleniti laboriosam molestiae porro architecto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>