<section class="row" id="landing-page">
    <div class="land header-landing">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="landText"><span class="main-color">E</span>arth's atmosphere is resilient to many of the
                        changes humans have imposed on it...</p>
                    <p class="landText2">our atmosphere will survive, but even the most advanced societies will <span
                            class="main-color">not.</span></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-sm-12 col-12 become" id="landing-page-become-a-watcher">
                    <p>Become A Watcher</p>
                </div>
                <div class="col-xl-6 col-sm-12" id="landing-page-start-form">
                    <!-- Form  -->
                    <!--Title  -->
                    <form class="row g-3 joinForm join-form">
                        <h3>Start the change</h3>
                        <!-- First Name -->
                        <div class="col-md-4">
                            <label for="validationDefault01" class="form-label">First name</label>
                            <input type="text" class="form-control is-valid" id="validationDefault01" placeholder="Mark"
                                required>
                        </div>
                        <!-- Last Name -->
                        <div class="col-md-4">
                            <label for="validationDefault02" class="form-label">Last name</label>
                            <input type="text" class="form-control is-valid" id="validationDefault02" placeholder="Otto"
                                required>
                        </div>
                        <!-- City -->
                        <div class="col-md-6">
                            <label for="validationDefault03" class="form-label">City</label>
                            <input type="text" class="form-control is-invalid" id="validationDefault03"
                                aria-describedby="validationServer03Feedback" required>
                        </div>
                        <!-- State -->
                        <div class="col-md-3">
                            <label for="validationDefault04" class="form-label">State</label>
                            <select class="form-select is-invalid" id="validationDefault04"
                                aria-describedby="validationServer04Feedback" required>
                                <option selected disabled value="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <!-- Zip -->
                        <div class="col-md-3">
                            <label for="validationDefault05" class="form-label">Zip</label>
                            <input type="text" class="form-control is-invalid" id="validationDefault05"
                                aria-describedby="validationServer05Feedback" required>
                        </div>
                        <!-- Agree to Terms Check Box -->
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                                    aria-describedby="invalidCheck3Feedback" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Agree to terms and conditions
                                </label>
                                <div id="invalidCheck3Feedback" class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="col-12">
                            <button class="btn btn-primary formBtn" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Transition -->
    <div class="container-fluid afterLanding d-none">
        <div class="row">
            <div class="col">
                Take a look at the effects we have in our planet
            </div>
        </div>
    </div>
    <!-- End of Transition -->

    <!-- Travel Estimates -->
    <section class="hero " id="travel-estimates">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="row mt-5 mx-auto">
                        <div class="col-4 p-0 color">
                            <img src="https://source.unsplash.com/A5rCN8626Ck/640x452" width="100%" />
                        </div>
                        <div class="col-8 py-4">
                            <h3>Travel Estimates</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eos natus et dolor
                                delectus officia aliquam reprehenderit facilis maiores sed. Sint explicabo ea quos
                                tenetur deleniti laboriosam molestiae porro architecto.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shipping -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="row mt-5 mx-auto">
                            <div class="col-4 p-0 color">
                                <img src="https://cdn.pixabay.com/photo/2020/03/27/19/27/airplane-4974678_1280.jpg"
                                    width="100%" />
                            </div>
                            <div class="col-8 py-4">
                                <h3>Shipping</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eos natus et dolor
                                    delectus officia aliquam reprehenderit facilis maiores sed. Sint explicabo ea quos
                                    tenetur deleniti laboriosam molestiae porro architecto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Global Carbon Emitions -->
            <div class="container-fluid test">
                <div class="row">
                    <div class="col">
                        <div class="row mt-5 mx-auto">
                            <div class="col-4 p-0 color">
                                <img src="https://source.unsplash.com/UwBrS-qRMHo/640x427" width="100%" />
                            </div>
                            <div class="col-8 py-4">
                                <h3>Global Carbon Emissions</h3>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod eos natus et dolor
                                    delectus officia aliquam reprehenderit facilis maiores sed. Sint explicabo ea quos
                                    tenetur deleniti laboriosam molestiae porro architecto.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- End of Landing Page -->

<!-- Start Second Page Travel Estimates -->
<section class="d-none row" id="travel-estimates-page">
    <div class="container-fluid">
        <div class="row travel-estimates-blackbar py-2">
            <div class="col text-center">
                <p><span class="main-color">Transportion</span> accounts for around <span class="main-color">one-fifth
                        of global
                        carbon dioxide emissions.</span> In some countries, often richer countries with populations that
                    travel often,
                    <span class="main-color">transport</span> can be one of the largest segments of an individual’s
                    carbon
                    <span class="main-color">footprint.</span>
                </p>
                <p>Find out about your <span class="main-color">own</span> individual carbon footprint by filling the
                    <span class="main-color">form</span> below.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mx-2 my-2 py-2 form-styles">
                    <h3 class="text-center text-white">Method of Travel</h3>
                    <div class="border-top-form"></div>
                    <div class="px-3 my-2">
                        <p>See how much carbon dioxide your car puts in to the atmosphere after driving a certin
                            distance!</p>
                        <button class="col-12 py-2" id="vehicle-btn">Car</button>
                    </div>
                    <div class="px-3 my-3">
                        <p>See how much carbon dioxide your flight will put into the atmosphere! Just enter in the
                            airport IATA code for
                            your arival and destination airports. This can be found by googleing your airport and
                            entering in the 3 letter
                            code found on the search page.</p>
                        <button class="col-12 py-2" id="flight-btn">Flight</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="mx-2 my-2 py-2 form-styles">
                    <h3 class="text-center text-white">Results</h3>
                    <div class="border-top-form"></div>
                    <div id="results" class="fs-5"></div>
                </div>
            </div>

            <form class="col-12 col-lg-4" id="vehicle-form">
                <div class="mx-2 my-2 py-2 card form-styles info-travel">
                    <h3 class="text-center">Vehicle Data</h3>
                    <div class="card-body border-top-form">
                        <h5 class="card-title">Please Enter the Following :</h5>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="make" placeholder="d-none" required>
                            <label for="make">Make</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="model" placeholder="d-none" required>
                            <label for="model">Model</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="year" placeholder="d-none" required>
                            <label for="year">Year</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-7">
                                <div class="form-floating ">
                                    <input type="number" class="form-control" min="1" id="distance-value"
                                        placeholder="d-none" required>
                                    <label for="distance-value">Distance</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class=" form-select" aria-label="Default select example" id="distance-unit"
                                    required>
                                    <option disabled selected>Unit</option>
                                    <option value="mi">Miles</option>
                                    <option value="km">KM</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </form>

            <form class="col-12 col-lg-4 d-none" id="flight-form">
                <div class="mx-2 my-2 py-2 card form-styles info-travel">
                    <h3 class="text-center">Flight Data</h3>
                    <div class="card-body border-top-form">
                        <h5 class="card-title">Please Enter the Following :</h5>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" min="2" max="853" id="passengers"
                                placeholder="d-none" required>
                            <label for="passengers">Total # of Passengers</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" maxlength="3" id="d-airport-code"
                                placeholder="d-none" required>
                            <label for="d-airport-code">Departure Airport Code</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" maxlength="3" id="a-airport-code"
                                placeholder="d-none" required>
                            <label for="a-airport-code">Ariving Airport Code</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="return-trip">
                            <label class="form-check-label" for="return-trip">
                                Include Return Trip
                            </label>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-12 mt-1 mx-0 px-0 d-none d-md-flex">
                <img class="banner-travel " id="img-vehicles" src="./assets/images/traffic.jpg" />
                <img class="banner-travel d-none" id="img-flight" src="./assets/images/flight.jpg" />
            </div>
        </div>
    </div>
</section>
<!-- End of Second Page -->

<!--  Start of Third Page Shipping -->
<section class="d-none row" id="shipping-page">
    <div class="container-fluid">
        <div class="row travel-estimates-blackbar py-2">
            <div class="col text-center">
                <p><span class="main-color">Global Shipping</span> accounts for <span class="main-color">2.89%</span> of
                    global emissions over all. Though not as large as some other areas,
                    global shipping still puts over <span class="main-color">848,000,000 metric tons</span> of CO2 into
                    the atmosphere each year.</p>
                <p>Find out about your <span class="main-color">own</span> individual carbon footprint by filling the
                    <span class="main-color">form</span> below.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mx-2 my-2 py-2 form-styles">
                    <h3 class="text-center text-white">Package Shipping</h3>
                    <div class="border-top-form"></div>
                    <div class="px-3 my-2">
                        <p>See how much carbon dioxide it will take to get your package to your house! Just enter in the
                            weight of your package
                            in grams, kilograms, pounds, or metric tons. Then the distance the package has to travel
                            (You can find where the package
                            is coming from by checking your tracking details), and the method for shipping.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4" id="results Colums">
                <div class="mx-2 my-2 py-2 form-styles">
                    <h3 class="text-center text-white">Results</h3>
                    <div class="border-top-form"></div>
                    <div id="results-shipping" class="fs-5"></div>
                </div>
            </div>

            <form class="col-12 col-lg-4" id="shipping-form">
                <div class="mx-2 my-2 py-2 card form-styles info-travel">
                    <h3 class="text-center">Package Details</h3>
                    <div class="card-body border-top-form">
                        <h5 class="card-title">Please Enter the Following:</h5>
                        <div class="row mb-3">
                            <div class="col-7">
                                <div class="form-floating ">
                                    <input type="number" class="form-control" min="1" id="weight-value"
                                        placeholder="d-none" required>
                                    <label for="weight-value">Item Weight</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class=" form-select" aria-label="Default select example" id="weight-unit"
                                    required>
                                    <option disabled selected>Unit</option>
                                    <option value="g">G</option>
                                    <option value="kg">KG</option>
                                    <option value="lb">LB</option>
                                    <option value="mt">MT</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-7">
                                <div class="form-floating ">
                                    <input type="number" class="form-control" min="1" id="s-distance-value"
                                        placeholder="d-none" required>
                                    <label for="s-distance-value">Distance</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class=" form-select" aria-label="Default select example" id="s-distance-unit"
                                    required>
                                    <option disabled selected>Unit</option>
                                    <option value="mi">Miles</option>
                                    <option value="km">KM</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <select class=" form-select" aria-label="Default select example" id="shipping-method"
                                    required>
                                    <option disabled selected>Shipping Method</option>
                                    <option value="truck">Truck</option>
                                    <option value="train">Train</option>
                                    <option value="plane">Plane</option>
                                    <option value="ship">Ship</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-12 mt-1 mx-0 px-0 d-none d-md-flex">
                <img class="banner-travel " id="img-vehicles" src="./assets/images/shipping.jpg" />
            </div>
        </div>
    </div>
</section>
<!-- End of Thrid Page -->

<!-- Start of Fourth Page Global Climate Change -->

<section class="d-none row global-background" id="global-carbon-emissions-page">
    <div class="container-fluid">
        <div class="container">
            <div class="row bar py-2 mt-2">
                <div class="col py-auto text-center">
                    <p class="py-auto">Current amount of <span class="global-span">CO2</span> released into the
                        atmosphere since the beginning of <span class="global-span">2021:</span></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Aviation Emissions:</h2>
                        <h3 id="current-aviation"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Vehicle Emissions:</h2>
                        <h3 id="current-vehicle"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Shipping Emissions:</h2>
                        <h3 id="current-shipping"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-xxl-3 mx-auto">
                <div class="mx-2 my-2 py-2 CEC">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Energy Emissions:</h2>
                        <h3 id="current-energy"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8 col-lg-5 mx-auto">
                <div class="mx-2 my-2 py-2 CEC global">
                    <div class="counter mx-2 my-2 py-2">
                        <h2>Current Global Emissions:</h2>
                        <h3 id="current-global"></h3>
                        <p>Metric Tons</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="container">
        <div class="row pb-4">
            <div class="col-12">
                <button class="modal-button2 mx-auto mx-md-5" id="open2">Learn More:</button>
                <div class="modal-container2" id="modal-container2">
                    <div class="modal2">
                        <h1>Carbon Emissions Analogy</h1>
                        <p>Imagine lifting an entire mountain into the sky. Now, pulverize the mountain and turn it into
                            dust. Take that dust and spread it over the entire planet over the next 6 years. Next,
                            convert all that dust into carbon dioxide.
                            This represents how much <span class="main-color">CO2</span> we are emitting into the
                            atmosphere.
                            <button class="modal-button2" id="close2">Go back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Fourth Page -->

<section class="d-none" id="climate-change-page">
    <div id="climate-change-background">

        <div class="container" id="climate-change-space">
            <!--Climate Change Subsection-->
            <div class="row justify-content-around align-items-center" id="climate-page-divs">
                <div class="embed-responsive embed-responsive-16by9 col-12 col-xl-3">
                    <iframe id="global-warming-video" class="embed-responsive-item"
                        src="https://www.youtube.com/embed/wbR-5mHI6bo" width="450px" height="300px"
                        allowfullscreen></iframe>
                </div>
                <div class="col-12 col-xl-6" id="video-space-left">
                    <p id="climate-change-text">The earth's temperature has been increasing yearly, especially in the
                        last 100 years. This is due to many changing factors that our world has experienced in that
                        time. Technology has been improving at a rapid rate the last Century with that causing vast
                        amounts of <a
                            href="https://www.climate.gov/news-features/understanding-climate/climate-change-global-temperature"
                            title="Learn more"> carbon emissions.</a></p>
                </div>
            </div>
            <!-- Carbon Footprints subsection-->
            <div class="row justify-content-center align-items-center" id="climate-page-divs">
                <div class="col-12 col-xl-7">
                    <p id="climate-change-text">Carbon footprints are the amount of carbon dioxide and other carbon
                        compounds emitted due to the consumption of fossil fuels by a particular person, group, etc.
                        There are many online resources to track your personal carbon footprint, literally just a <a
                            href="https://www.google.com/search?q=carbon+footprint+personal+calculator&safe=active&rlz=1C1CHBF_enUS746US746&ei=kUjCYOnPG5uttQbjzaqgBw&oq=carbon+footprint+personal+calculator&gs_lcp=Cgdnd3Mtd2l6EAEYADICCAAyBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB4yBggAEAgQHjoHCAAQRxCwAzoHCAAQsAMQQzoFCAAQsQM6BAgAEEM6BggAEAcQHjoICAAQCBAHEB5QxqIDWIG4A2CwzQNoAnACeACAAVuIAcsGkgECMTGYAQCgAQGqAQdnd3Mtd2l6yAEKwAEB&sclient=gws-wiz">
                            google search away!</a> It's important to understand our Carbon Footprints so we have the
                        ability to improve and use Cleaner Energy.</p>
                </div>
                <div class="col-12 col-xl-3">
                    <img src="./assets/images/Carbon Footprint.jpg" class="rounded border-primary" width="350"
                        height="350" alt="A grass footprint" id="carbon-footprint-picture">
                </div>
            </div>
            <!--Clean Energy Subsection-->
            <div class="row justify-content-around align-items-center" id="climate-page-divs">
                <div class="col-12 col-xl-3">
                    <img src="./assets/images/Clean Energy.jpg" class="rounded" width="300" height="300"
                        alt="Windmills turning in a green feild" id="wind-mill-pic">
                </div>
                <div class="col-12 col-xl-7">
                    <p id="climate-change-text">There are many forms of clean energy. Through understanding our carbon
                        footprints we can find areas that we can improve on as individuals and as groups. If you would
                        like to learn more about clean energy, <a href="https://www.energy.gov/"
                            title="Learn more">Energy.gov</a> has some amazing learning resources.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of Fith Page -->

<!-- Start of Sixth Page About Us -->

<section class="d-none row us-row" id="about-us-page">
    <div class="container us-body card-height">
        <div class="row">
            <div class="col">
                <div class="card15 text-white mb-3 us-card" style="max-width: 20rem;">
                    <div class="card-header-us">Ryan Jepson</div>
                    <img class="profile" src="./assets/images/ryan.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-profile">I love to play video games, I am into cars, driving and
                            modifying my Toyota 86.
                            I love to program and hang out with friends whenever I get the chance.
                            I am told I'm very funny and I am very intelligent. I am looking forward to a career in
                            computer programming and
                            hope to create my own games in the future.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card15 text-white mb-3 us-card2" style="max-width: 20rem;">
                    <div class="card-header-us">Matthew Mcdonald</div>
                    <img class="profile" src="./assets/images/matt.jpg" class="card-img-top" alt="...">
                    <div class="card-body">

                        <p class="card-text text-profile">I’m married and have a 9 month old daughter. I enjoy the
                            outdoors hunting,
                            fishing and camping. My favorite outdoors activity is Snowboarding.
                            My wife and I want to move out of Utah and so when I finish this boot camp I plan on
                            applying
                            to jobs in several different states and see where life takes us. </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card15 text-white mb-3 us-card3" style="max-width: 20rem;">
                    <div class="card-header-us">Antonio Sanchez</div>
                    <img class="profile" src="./assets/images/antonio.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-profile">
                            I have a beatiful wife and four incredible children.
                            I love to play chess, and not to brag but I am almost pass a 2000 rating!
                            Playing video games is a must in my scarce
                            free time. Essentially, I love building and not only web content, I also own a
                            construction bussiness and I have a passion for building smart, modern
                            and beautiful homes.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card15 text-white mb-3 us-card4" style="max-width: 20rem;">
                    <div class="card-header-us">Gilberto Medina</div>
                    <img class="profile" src="./assets/images/gilberto.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text text-profile">I love to play video games, I enjoy spending time doing
                            digital drawings and I’m in to tattoos and always looking for new art to put on my body. I’m
                            currently trying to get a better living for me and my family working multiple hours and
                            looking forward to finishing the boot camp so I can get a stable job and keep moving forward
                            to my goal. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>