<section class="row d-none" id="landing-page">
    <div class="land header-landing">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="landText"><span class="main-color">E</span>arth's atmosphere is resilient to many of the
                        changes humans have imposed on it...</p>
                    <p class="landText2">our atmosphere will survive, but even the most advanced societies will <span
                            class="main-color">not.</span></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-sm-12 col-12 become" id="landing-page-become-a-watcher">
                    <p>Become A Watcher</p>
                </div>
                <div class="col-xl-6 col-sm-12" id="landing-page-start-form">
                    <!-- Form  -->
                    <!--Title  -->
                    <form class="row g-3 joinForm join-form">
                        <h3>Start the change</h3>
                        <!-- First Name -->
                        <div class="col-md-4">
                            <label for="validationDefault01" class="form-label">First name</label>
                            <input type="text" class="form-control is-valid" id="validationDefault01" placeholder="Mark"
                                required>
                        </div>
                        <!-- Last Name -->
                        <div class="col-md-4">
                            <label for="validationDefault02" class="form-label">Last name</label>
                            <input type="text" class="form-control is-valid" id="validationDefault02" placeholder="Otto"
                                required>
                        </div>
                        <!-- City -->
                        <div class="col-md-6">
                            <label for="validationDefault03" class="form-label">City</label>
                            <input type="text" class="form-control is-invalid" id="validationDefault03"
                                aria-describedby="validationServer03Feedback" required>
                        </div>
                        <!-- State -->
                        <div class="col-md-3">
                            <label for="validationDefault04" class="form-label">State</label>
                            <select class="form-select is-invalid" id="validationDefault04"
                                aria-describedby="validationServer04Feedback" required>
                                <option selected disabled value="">Choose...</option>
                                <option>...</option>
                            </select>
                        </div>
                        <!-- Zip -->
                        <div class="col-md-3">
                            <label for="validationDefault05" class="form-label">Zip</label>
                            <input type="text" class="form-control is-invalid" id="validationDefault05"
                                aria-describedby="validationServer05Feedback" required>
                        </div>
                        <!-- Agree to Terms Check Box -->
                        <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                                    aria-describedby="invalidCheck3Feedback" required>
                                <label class="form-check-label" for="invalidCheck3">
                                    Agree to terms and conditions
                                </label>
                                <div id="invalidCheck3Feedback" class="invalid-feedback">
                                    You must agree before submitting.
                                </div>
                            </div>
                        </div>
                        <!-- Submit Button -->
                        <div class="col-12">
                            <button class="btn btn-primary formBtn" type="submit">Submit form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Transition -->
    <div class="container-fluid afterLanding d-none">
        <div class="row">
            <div class="col">
                Take a look at the effects we have in our planet
            </div>
        </div>
    </div>
    <!-- End of Transition -->

    <!-- Travel Estimates -->

</section>
<!-- End of Landing Page -->



<!-- Start Second Page Travel Estimates -->
<section class="d-none row" id="travel-estimates-page">
    <div class="container-fluid">
        <div class="row travel-estimates-blackbar py-2">
            <div class="col text-center">
                <p><span class="main-color">Transportion</span> accounts for around <span class="main-color">one-fifth
                        of global
                        carbon dioxide emissions.</span> In some countries, often richer countries with populations that
                    travel often,
                    <span class="main-color">transport</span> can be one of the largest segments of an individual’s
                    carbon
                    <span class="main-color">footprint.</span>
                </p>
                <p>Find out about your <span class="main-color">own</span> individual carbon footprint by filling the
                    <span class="main-color">form</span> below.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="mx-2 my-2 py-2 form-styles">
                    <h3 class="text-center text-white">Method of Travel</h3>
                    <div class="border-top-form"></div>
                    <div class="px-3 my-2">
                        <p>See how much carbon dioxide your car puts in to the atmosphere after driving a certin
                            distance!</p>
                        <button class="col-12 py-2" id="vehicle-btn">Car</button>
                    </div>
                    <div class="px-3 my-3">
                        <p>See how much carbon dioxide your flight will put into the atmosphere! Just enter in the
                            airport IATA code for
                            your arival and destination airports. This can be found by googleing your airport and
                            entering in the 3 letter
                            code found on the search page.</p>
                        <button class="col-12 py-2" id="flight-btn">Flight</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="mx-2 my-2 py-2 form-styles">
                    <h3 class="text-center text-white">Results</h3>
                    <div class="border-top-form"></div>
                    <div id="results" class="fs-5"></div>
                </div>
            </div>

            <form class="col-12 col-lg-4" id="vehicle-form">
                <div class="mx-2 my-2 py-2 card form-styles info-travel">
                    <h3 class="text-center">Vehicle Data</h3>
                    <div class="card-body border-top-form">
                        <h5 class="card-title">Please Enter the Following :</h5>
                        <div class="form-floating mb-3">
                            <select class="form-control" id="make" aria-label="Default select example" required>
                                <option disabled selected>Make</option>
                                <option value='AM General'>AM General</option>
                                <option value='ASC Incorporated'>ASC Incorporated</option>
                                <option value='Acura'>Acura</option>
                                <option value='Alfa Romeo'>Alfa Romeo</option>
                                <option value='American Motors Corporation'>American Motors Corporation</option>
                                <option value='Aston Martin'>Aston Martin</option>
                                <option value='Audi'>Audi</option>
                                <option value='Aurora Cars Ltd'>Aurora Cars Ltd</option>
                                <option value='Autokraft Limited'>Autokraft Limited</option>
                                <option value='Avanti Motor Corporation'>Avanti Motor Corporation</option>
                                <option value='Azure Dynamics'>Azure Dynamics</option>
                                <option value='BMW'>BMW</option>
                                <option value='BMW Alpina'>BMW Alpina</option>
                                <option value='BYD'>BYD</option>
                                <option value='Bentley'>Bentley</option>
                                <option value='Bertone'>Bertone</option>
                                <option value='Bill Dovell Motor Car Company'>Bill Dovell Motor Car Company</option>
                                <option value='Bitter Gmbh and Co. Kg'>Bitter Gmbh and Co. Kg</option>
                                <option value='Bugatti'>Bugatti</option>
                                <option value='Buick'>Buick</option>
                                <option value='CCC Engineering'>CCC Engineering</option>
                                <option value='CODA Automotive'>CODA Automotive</option>
                                <option value='CX Automotive'>CX Automotive</option>
                                <option value='Cadillac'>Cadillac</option>
                                <option value='Chevrolet'>Chevrolet</option>
                                <option value='Chrysler'>Chrysler</option>
                                <option value='Consulier Industries Inc'>Consulier Industries Inc</option>
                                <option value='Dabryan Coach Builders Inc'>Dabryan Coach Builders Inc</option>
                                <option value='Dacia'>Dacia</option>
                                <option value='Daewoo'>Daewoo</option>
                                <option value='Daihatsu'>Daihatsu</option>
                                <option value='Dodge'>Dodge</option>
                                <option value='E. P. Dutton, Inc.'>E. P. Dutton, Inc.</option>
                                <option value='Eagle'>Eagle</option>
                                <option value='Environmental Rsch and Devp Corp'>Environmental Rsch and Devp Corp</option>
                                <option value='Evans Automobiles'>Evans Automobiles</option>
                                <option value='Excalibur Autos'>Excalibur Autos</option>
                                <option value='Federal Coach'>Federal Coach</option>
                                <option value='Ferrari'>Ferrari</option>
                                <option value='Fiat'>Fiat</option>
                                <option value='Fisker'>Fisker</option>
                                <option value='Ford'>Ford</option>
                                <option value='GMC'>GMC</option>
                                <option value='General Motors'>General Motors</option>
                                <option value='Genesis'>Genesis</option>
                                <option value='Geo'>Geo</option>
                                <option value='Goldacre'>Goldacre</option>
                                <option value='Grumman Allied Industries'>Grumman Allied Industries</option>
                                <option value='Grumman Olson'>Grumman Olson</option>
                                <option value='Honda'>Honda</option>
                                <option value='Hummer'>Hummer</option>
                                <option value='Hyundai'>Hyundai</option>
                                <option value='Import Foreign Auto Sales Inc'>Import Foreign Auto Sales Inc</option>
                                <option value='Import Trade Services'>Import Trade Services</option>
                                <option value='Infiniti'>Infiniti</option>
                                <option value='Isis Imports Ltd'>Isis Imports Ltd</option>
                                <option value='Isuzu'>Isuzu</option>
                                <option value='J.K. Motors'>J.K. Motors</option>
                                <option value='JBA Motorcars, Inc.'>JBA Motorcars, Inc.</option>
                                <option value='Jaguar'>Jaguar</option>
                                <option value='Jeep'>Jeep</option>
                                <option value='Karma'>Karma</option>
                                <option value='Kenyon Corporation Of America'>Kenyon Corporation Of America</option>
                                <option value='Kia'>Kia</option>
                                <option value='Koenigsegg'>Koenigsegg</option>
                                <option value='Laforza Automobile Inc'>Laforza Automobile Inc</option>
                                <option value='Lambda Control Systems'>Lambda Control Systems</option>
                                <option value='Lamborghini'>Lamborghini</option>
                                <option value='Land Rover'>Land Rover</option>
                                <option value='Lexus'>Lexus</option>
                                <option value='Lincoln'>Lincoln</option>
                                <option value='London Coach Co Inc'>London Coach Co Inc</option>
                                <option value='London Taxi'>London Taxi</option>
                                <option value='Lotus'>Lotus</option>
                                <option value='MINI'>MINI</option>
                                <option value='Mahindra'>Mahindra</option>
                                <option value='Maserati'>Maserati</option>
                                <option value='Maybach'>Maybach</option>
                                <option value='Mazda'>Mazda</option>
                                <option value='McLaren Automotive'>McLaren Automotive</option>
                                <option value='Mcevoy Motors'>Mcevoy Motors</option>
                                <option value='Mercedes-Benz'>Mercedes-Benz</option>
                                <option value='Mercury'>Mercury</option>
                                <option value='Merkur'>Merkur</option>
                                <option value='Mitsubishi'>Mitsubishi</option>
                                <option value='Mobility Ventures LLC'>Mobility Ventures LLC</option>
                                <option value='Morgan'>Morgan</option>
                                <option value='Nissan'>Nissan</option>
                                <option value='Oldsmobile'>Oldsmobile</option>
                                <option value='PAS Inc - GMC'>PAS Inc - GMC</option>
                                <option value='PAS, Inc'>PAS, Inc</option>
                                <option value='Pagani'>Pagani</option>
                                <option value='Panos'>Panos</option>
                                <option value='Panoz Auto-Development'>Panoz Auto-Development</option>
                                <option value='Panther Car Company Limited'>Panther Car Company Limited</option>
                                <option value='Peugeot'>Peugeot</option>
                                <option value='Pininfarina'>Pininfarina</option>
                                <option value='Plymouth'>Plymouth</option>
                                <option value='Polestar Automotive USA Inc.'>Polestar Automotive USA Inc.</option>
                                <option value='Pontiac'>Pontiac</option>
                                <option value='Porsche'>Porsche</option>
                                <option value='Quantum Technologies'>Quantum Technologies</option>
                                <option value='Qvale'>Qvale</option>
                                <option value='RUF Automobile'>RUF Automobile</option>
                                <option value='Ram'>Ram</option>
                                <option value='Red Shift Ltd.'>Red Shift Ltd.</option>
                                <option value='Renault'>Renault</option>
                                <option value='Rolls-Royce'>Rolls-Royce</option>
                                <option value='Roush Performance'>Roush Performance</option>
                                <option value='Ruf Automobile Gmbh'>Ruf Automobile Gmbh</option>
                                <option value='S and S Coach Company  E.p. Dutton'>S and S Coach Company  E.p. Dutton</option>
                                <option value='SRT'>SRT</option>
                                <option value='STI'>STI</option>
                                <option value='Saab'>Saab</option>
                                <option value='Saleen'>Saleen</option>
                                <option value='Saleen Performance'>Saleen Performance</option>
                                <option value='Saturn'>Saturn</option>
                                <option value='Scion'>Scion</option>
                                <option value='Shelby'>Shelby</option>
                                <option value='Spyker'>Spyker</option>
                                <option value='Sterling'>Sterling</option>
                                <option value='Subaru'>Subaru</option>
                                <option value='Superior Coaches Div E.p. Dutton'>Superior Coaches Div E.p. Dutton</option>
                                <option value='Suzuki'>Suzuki</option>
                                <option value='TVR Engineering Ltd'>TVR Engineering Ltd</option>
                                <option value='Tecstar, LP'>Tecstar, LP</option>
                                <option value='Tesla'>Tesla</option>
                                <option value='Texas Coach Company'>Texas Coach Company</option>
                                <option value='Toyota'>Toyota</option>
                                <option value='VPG'>VPG</option>
                                <option value='Vector'>Vector</option>
                                <option value='Vixen Motor Company'>Vixen Motor Company</option>
                                <option value='Volga Associated Automobile'>Volga Associated Automobile</option>
                                <option value='Volkswagen'>Volkswagen</option>
                                <option value='Volvo'>Volvo</option>
                                <option value='Wallace Environmental'>Wallace Environmental</option>
                                <option value='Yugo'>Yugo</option>
                                <option value='smart'>smart</option>
                            </select>
                            <label for="make">Make</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-control" id="model" placeholder="d-none" required disabled>
                                <!-- Models are Auto Generated by API -->
                            </select>
                            <label for="model">Model</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="year" placeholder="d-none" required>
                            <label for="year">Year</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-7">
                                <div class="form-floating ">
                                    <input type="number" class="form-control" min="1" id="distance-value"
                                        placeholder="d-none" required>
                                    <label for="distance-value">Distance</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <select class=" form-select" aria-label="Default select example" id="distance-unit"
                                    required>
                                    <option disabled selected>Unit</option>
                                    <option value="mi">Miles</option>
                                    <option value="km">KM</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </form>

            <form class="col-12 col-lg-4 d-none" id="flight-form">
                <div class="mx-2 my-2 py-2 card form-styles info-travel">
                    <h3 class="text-center">Flight Data</h3>
                    <div class="card-body border-top-form">
                        <h5 class="card-title">Please Enter the Following :</h5>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" min="2" max="853" id="passengers"
                                placeholder="d-none" required>
                            <label for="passengers">Total # of Passengers</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" maxlength="3" id="d-airport-code"
                                placeholder="d-none" required>
                            <label for="d-airport-code">Departure Airport Code</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" maxlength="3" id="a-airport-code"
                                placeholder="d-none" required>
                            <label for="a-airport-code">Ariving Airport Code</label>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="return-trip">
                            <label class="form-check-label" for="return-trip">
                                Include Return Trip
                            </label>
                        </div>
                        <div>
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-12 mt-1 mx-0 px-0 d-none d-md-flex">
                <img class="banner-travel " id="img-vehicles" src="./assets/images/traffic.jpg" />
                <img class="banner-travel d-none" id="img-flight" src="./assets/images/flight.jpg" />
            </div>
        </div>
    </div>
</section>

{{>shipping}}

{{>globalchange}}

{{>climatechange}}

{{>accountPage}}

{{>login}}

</section>