*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: rgb(255, 255, 255);
}
body{
    background-color: $black;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0 0% 50% / 0.3), 0 0 0.35em currentColor;
    }


.title{
    text-align: center;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0, 0%, 100%/ 0.3), 0 0 0.45em currentColor;
}
.nav-bar {
    background-color: #333;
    overflow: hidden;
}

.nav-bar-el {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar-el:hover {
    background-color: #ddd;
    color: black;
}
.card-body{
    position: relative;
    /* background: url(images/festival\ pic\ for\ project\ 1.jpeg) center / cover; */
    margin-top: 0vh;
    animation: scale 20s;
    animation-iteration-count:infinite;
}
/* @keyframes scale{
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale (1);
    }
    100%{
        transform: scale(1.5);
    }
} */
.box-holder {

    /* display: flex;
    justify-content: center; */
    color: violet;
}
.btn {
    font-family:"Balsamiq Sans", cursive;
    text-align: center;
    color: var(--clr-neon);
    text-shadow: 0 0 0.125em hsl(0, 0%, 100%/ 0.3), 0 0 0.45em currentColor;
}


.box-1 {
    border: 1px solid black;
    /* width: 50%; */

    color: var(--clr-neon);
}

.box-2 {
    border: 1px solid black;
    /* width: 50%; */
    color: violet;

}

.search-bar {
    padding-left: 10%;
}

#event {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.info-body {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-align: center;
}
.footer{
}
.box{

    height: 55%;
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}